html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #474747;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

.logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 2;
  color: #000000;
  text-shadow: 2px 2px;
}

.gd-modal-loaded .logo {
  display: none;
}

.logo:hover {
  cursor: pointer;
  color: #327e40;
}
