html,
body {
  height: 100%;
  margin: 0px;
  padding: 5px;
  background-color: #808080;
  z-index: 0;
  font-size: 14px;
}

.logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 2;
  color: #FFF;
  text-shadow: 2px 2px;
}

.gd-figure:hover {
  filter: contrast(1.2);
  cursor: pointer;
}

.gd-modal-loaded .logo {
  display: none;
}

.gd-modal-exif-ontimeout {
  transition: opacity 0.3s ease-out;
  opacity: 0;
}

.logo:hover {
  cursor: pointer;
  rotate: 30deg;
}
