<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, 
          initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="icon" href="favicon0.png" />
    {{ partial "gallerydeluxe/head.html" . }}
    {{ partial "head.html" . }}
  </head>

  <a class="logo" href="/about">
    {{ partial "logo.html" . }}
  </a>

  {{/* 'images' is a path to a leaf bundle with a index.md file and lots of JPG images. */}}
  {{ $gallery := partial "gallerydeluxe/init.html" (dict "sourcePath" "images") }}
  {{ $params := site.Params.gallerydeluxe }}
  {{/* We currently only support 1 gallery per page, which is create4 by an element with id 'gallerydeluxe',
    and a valid data url.
  */}}
  <body id="gallerydeluxe" data-gd-image-data-url="{{ $gallery.imageDataUrl }}">
    <div id="gd-modal" class="gd-modal">
      <span id="gd-modal-close" class="gd-modal-close">&times;</span>
      {{ if $params.enable_exif }}
        <div id="gd-modal-exif" class="gd-modal-exif"></div>
      {{ end }}
    </div>
			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | markdownify }}</p>
					{{- end -}}
				</div>
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
					<time>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
					
					<br>{{ template "partials/pagedescription.html" . }}
					<a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>

		{{ template "partials/giscus.html" . }}
		{{ partial "footer.html" . }}

  </body>
</html>
